<div class="page-container", id="fullText1">
  <div class="profile-card">
    <%= image_tag image_url("cedric_profile.jpg"), class: "popup-avatar" %>
    <div class="popup-title-container">
      <h1>Cedric Arend</h1>
      <h2>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h2>
    </div>
  </div>
  <div class="popup-bio">
    <p>
      « Ma ligne de conduite dans la prise en charge de patients est la parfaite connaissance de l’anatomie et de la physiologie du corps humain. En ajoutant à cela le concepts les plus efficaces de kinésithérapie, de thérapie manuelle et d’ostéo-étiopathie, mes soins ne laissent rien au hasard. J’accorde une importance primordiale à l’encadrement de mes patients par des conseils personnalisés. Diverses formations et pratiques sportives, notamment du football au niveau professionnel, les arts-martiaux, l’apnée et le yoga, me donnent un large répertoire d’outils à utiliser lors de mes séances. Mon but est de trouver le chemin vers la guérison le plus adapté et le plus sécurisé pour mes patients. »
    </p>
  </div>
  <div class="popup-contact">
    <div class="popup-phone">
      <p><i class="fa-solid fa-phone"></i> +32 472 18 14 64</p>
    </div>
    <div class="popup-email">
      <p><i class="fa-solid fa-envelope"></i></i> cedricarend@physiosteos.com</p>
    </div>
  </div>
</div>
