<div class="page-container", id="fullText3">
  <div class="profile-card">
    <%= image_tag image_url("job_profile.jpg"), class: "popup-avatar" %>
    <div class="popup-title-container">
      <h1>Job Mabanga</h1>
      <h2>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h2>
    </div>
  </div>
  <div class="popup-bio">
    <p>
      « Bonjour, je suis un master en kinésithérapie et ostéo-étiopathe très dynamique qui a à cœur de vous aider à mener une vie active et sans douleur. Je suis formé et spécialisé pour prendre en charge tout type de douleur, grâce à des outils puissants prenant en compte le corps et l’esprit dans sa globalité (crânien, viscéral, énergétique et structurel). Pratiquant moi-même de nombreuses activités sportives de haut niveau (fitness, danse, course à pied, ceinture noire en arts-martiaux), je me suis spécialisé dans la rééducation et la réathlétisation des blessures sportives. Mon objectif est de vous fournir des soins personnalisés adaptés à vos besoins uniques. Mon objectif est de vous apporter une expertise ciblée à votre pathologie pour un traitement efficace ou pour vous permettre d’atteindre votre plein potentiel physique. »
    </p>
  </div>
  <div class="popup-contact">
    <div class="popup-phone">
      <p><i class="fa-solid fa-phone"></i> +32 491 97 79 22</p>
    </div>
    <div class="popup-email">
      <p><i class="fa-solid fa-envelope"></i></i> jobmabanga@physiosteos.com</p>
    </div>
  </div>
</div>
