<div class="page-container", id="fullText5">
  <div class="profile-card">
    <%= image_tag image_url("muriel_profile.jpg"), class: "popup-avatar" %>
    <div class="popup-title-container">
      <h1>Muriel Bully</h1>
      <h2>Kinésitherapeute spéc. en uro-gynécologie & Sexologue</h2>
    </div>
  </div>
  <div class="popup-bio">
    <p>
      « Les relations humaines, le fonctionnement du corps humain tant sur l’aspect physique, émotionnel que psychologique et mental sont des passions que je cultive, depuis 20 ans au travers mon métier de kinésithérapeute spécialisée en rééducation périnéale. Ma carrière professionnelle est tel un voyage fait de rencontre et de destinations les plus inattendues les unes que les autres, nourrissant en moi une curiosité insatiable et toujours plus grandissante de comprendre ce qui nous nourrit les uns et les autres au plus profond de nous-même. C’est pourquoi, la sexologie clinique et la micronutrition se sont ajoutées telles une évidence pour parfaire un cheminement de compréhension de qui nous sommes vraiment. De quoi a-t-on besoin pour être en harmonie tant intérieure qu’avec l’environnement qui nous entoure ? Tant de questions auxquelles je souhaite vous guider pour en trouver les réponses Je souhaite par une approche essentiellement corporelle, vous amener à vous découvrir au plus près de vos aspirations, de vos désirs les plus authentique de vous-même. La micronutrition et la sexualité vous redonneront de l’énergie dynamisante en vous et vous permettront de vous sentir à nouveau vivant et vibrant de belles énergies.»
    </p>
  </div>
  <div class="popup-contact">
    <div class="popup-phone">
      <p><i class="fa-solid fa-phone"></i> +32 474 41 93 72</p>
    </div>
    <div class="popup-email">
      <p><i class="fa-solid fa-envelope"></i></i> murielbully@physiosteos.com</p>
    </div>
  </div>
</div>
