<div class="footer-wrapper">
  <div class="footer-links">
    Physiosteo's - Kinésithérapie et Ostéo-étiopathie
  </div>
  <div class="footer-copyright">
    © 2023 Physiosteo's – Created by Arno Arend
  </div>
</div>
