<div class="footer-wrapper">
  <div class="footer-links">
    PhysiOsteo's - Kinésithérapie et Ostéo-étiopathie
  </div>
  <div class="footer-copyright">
    © 2023 PhysiOsteo's – Created by Arno Arend
  </div>
</div>
