<div class="div-contact", id="target-contact-section">
  <h1>OÙ NOUS TROUVER ?</h1>
  <div class="div-contact-content">
    <div class="infos-contact">
      <h2>NOS COORDONNÉES</h2>
      <br>
      <p><i class="fa-solid fa-clock"></i> 8h - 20h (Lundi - Vendredi)</p>
      <p><i class="fa-solid fa-house"></i> Chaussée de Liège 322 b, 5100 Jambes</p>
      <%# <p><i class="fa-solid fa-phone"></i> +32 81 00 00 00</p> %>
      <%# <p><i class="fa-solid fa-envelope"></i></i> info@physiosteos.com</p> %>
      <div class="footer-links">
        <p><i class="fa-solid fa-arrow-pointer"></i> Suivez nous : </p>
        <a href="https://www.instagram.com/physiosteos_nam.lux/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61551247089088" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCj8pnMiRDQwh2NCGiOMdaWQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://maps.app.goo.gl/ZcJPfy4vVPVqTh116" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>
      </div>
    </div>
      <%= image_tag image_url("map.png"), style: "width: 500px;" %>
  </div>
</div>
