<div class="nos-services", id="target-services-section">
  <h1>NOS SERVICES</h1>
  <div class="nos-services-content">

    <div class="service-cards">
      <h1>Kinésithérapie</h1>
      <div class="kine-osteo-content">
        <p>
          La kinésithérapie est une discipline médicale qui utilise des techniques manuelles et des exercices pour rééduquer, prévenir et traiter les problèmes physiques. Elle est utilisée pour diverses conditions médicales, notamment pour la réadaptation post-opératoire, les douleurs physiques, l’amélioration de la mobilité et la qualité de vie. Les kinésithérapeutes travaillent en étroite collaboration avec les patients pour développer des plans de traitement personnalisés.
        </p>
        <%# <a href="#" class="btn-flat scroll-button2" style="text-decoration: none;" data-target="target-equipe-section">Vers l'équipe!</a> %>
      </div>
    </div>

    <div class="service-cards">
      <h1>Ostéo-étiopathie</h1>
      <div class="kine-osteo-content">
        <p>
          L'ostéo-étiopathie est une approche médicale alternative axée sur la recherche et le traitement des causes profondes des troubles de santé, principalement les douleurs et raideurs physiques et les dysfonctionnements viscéraux. Elle se base sur l'idée que de petites dysfonctions dans les tissus corporels peuvent provoquer des problèmes de santé en perturbant divers processus physiologiques. Les ostéo-étiopathes effectuent des bilans approfondis pour identifier les déséquilibres puis un traitement comprenant des techniques de manipulation visant à rétablir la mobilité articulaire et tissulaire pour favoriser la guérison, en considérant le corps comme un système interconnecté.
        </p>
        <%# <a href="#" class="btn-flat scroll-button2" style="text-decoration: none;" data-target="target-equipe-section">Vers l'équipe!</a> %>
      </div>
    </div>

    <div class="service-cards">
      <h1>Sexologie</h1>
      <div class="kine-osteo-content">
        <p>
          Tout le monde peut vivre à différent moments de sa vie, des difficultés de tout type, incluant des difficultés sexuelles et affectives. En tant que kinésithérapeute spécialisée en rééducation périnéale et sexologue clinicienne, Muriel Bully vous propose de vous accompagner pour retrouver ce lien entre votre corps et votre esprit, bien souvent rompu voire même oublié lorsque l’épanouissement de votre sexualité n’est plus au rendez vous. Quelles sont les raisons de consulter ? Anxiété lié à la sexualité, difficulté à ressentir du désir et du plaisir, insatisfaction du désir sexuel, insatisfaction lié à l’orgasme, douleurs ressenties avant/pendant/après les relations sexuelles…
        </p>
        <%# <a href="#" class="btn-flat scroll-button3" style="text-decoration: none;" data-target="target-equipe-section">Vers l'équipe!</a> %>
      </div>
    </div>

  </div>
</div>
