
<div class="banner-video" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://7dmc.ae/wp-content/uploads/2021/07/Chiropractic-Adjustment.jpg);">
  <div class="container">
    <div class="banner-content">
      <%= image_tag image_url("white_hr_logo_no_bg.png"), style: "width: 600px;" %>
      <p><strong>Réservez votre consultation dès maintenant !</strong></p>
      <%= link_to "Vers nos services!", "#", class: "btn-flat", style: "text-decoration: none;" %>
    </div>

    <div>
      <%# <h1>Nos services</h1> %>
    </div>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
        Kinésithérapie
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
        Ostéopathie
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
        Thérapie manuelle
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
        Kinésithérapie périnéale
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
        Sexologie
      </div>

    </div>
  </div>
</div>
<div class="homepage-text">
</div>
