
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../../assets/images/banner_picture.png);">
  <div class="container">
    <h1>Physiosteo's</h1>
    <p>Réserver votre consultation dès maintenant !</p>
    <a class="btn btn-flat" href="#">Prenez rendez-vous !</a>
  </div>
</div>
