
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://7dmc.ae/wp-content/uploads/2021/07/Chiropractic-Adjustment.jpg);">
  <div class="container">
    <div class="banner-content">
      <%# <div class="banner-logo"> %>
        <%= image_tag image_url("white_hr_logo_no_bg.png"), style: "width: 600px;" %>
      <%# </div> %>
      <%# <div class="banner-button"> %>
        <p><strong>Réservez votre consultation dès maintenant !</strong></p>
        <a class="btn btn-flat" href="#"><strong>Prenez rendez-vous !</strong></a>
      <%# </div> %>
    </div>
  </div>
</div>
<div class="homepage-text">
  <%# <div class="physio_avatars"> %>
    <%#= image_tag image_url("default_profile_pic.jpeg"), class: "avatar-large" %>
    <%#= image_tag image_url("default_profile_pic.jpeg"), class: "avatar-large" %>
    <%#= image_tag image_url("default_profile_pic.jpeg"), class: "avatar-large" %>
    <%#= image_tag image_url("default_profile_pic.jpeg"), class: "avatar-large" %>
    <%#= image_tag image_url("default_profile_pic.jpeg"), class: "avatar-large" %>
  <%# </div> %>
</div>
