<%# CONTAINER "BANNER-VIDEO" %>

<div class="banner-video" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://7dmc.ae/wp-content/uploads/2021/07/Chiropractic-Adjustment.jpg);">
  <div class="banner-content">
    <%= image_tag image_url("PhysiOsteos_Logo_B.png"), style: "width: 750px;"%>
    <p><strong>Réservez votre consultation dès maintenant !</strong></p>
    <%= link_to "Vers nos services!", "#", class: "btn-flat", style: "text-decoration: none;", id: "scroll-button" %>
    <%# <button id="scroll-button", class="btn-flat", style="border: none">Vers nos services!</button> %>
  </div>
</div>


<%# CONTAINER "NOS SERVICES" %>

<div class="nos-services", id="target-services-btn">
  <div class="kine">

    <h1>Kinésithérapie</h1>
    <p>
      La kinésithérapie est une discipline médicale essentielle axée sur la rééducation, la prévention et le traitement des troubles physiques. Elle repose sur l'utilisation de techniques manuelles et d'exercices thérapeutiques pour promouvoir la santé, soulager la douleur et rétablir la fonction corporelle optimale.
      La kinésithérapie est utilisée pour traiter une vaste gamme de conditions médicales, y compris les blessures sportives, les douleurs au dos et au cou, les problèmes orthopédiques, les troubles neurologiques, la réadaptation post-opératoire et les affections respiratoires et cardiaques, etc. Elle joue également un rôle crucial dans la promotion de la mobilité et de la qualité de vie des personnes âgées.
      Nos kinésithérapeutes sont des professionnels de la santé hautement qualifiés et travaillent en étroite collaboration avec les patients pour évaluer leurs besoins spécifiques et développer des plans de traitement personnalisés. Ces plans peuvent inclure des exercices de renforcement musculaire, des techniques de mobilisation articulaire, des massages thérapeutiques, des étirements, des conseils en fonction des besoins et demandes du patient.
    </p>
  </div>
  <div class="osteo">
    <h1>Ostéo- étiopathie</h1>
    <p>
      L'ostéo-étiopathie est une approche médicale alternative qui se concentre sur la recherche et le traitement des causes profondes des troubles de santé, en particulier ceux liés aux douleurs musculo-squelettiques et aux dysfonctionnements viscéraux. Elle repose sur le concept que de petites lésions ou restrictions de mobilité dans les tissus corporels peuvent entraîner des problèmes de santé en perturbant la circulation sanguine, le système nerveux et d'autres processus physiologiques.
      Nos ostéo-étiopathes effectuent des bilans approfondis pour identifier les tensions et les déséquilibres dans les tissus du corps. Ils cherchent à comprendre la cause sous-jacente des symptômes plutôt que de se concentrer uniquement sur le soulagement des symptômes. Le traitement comprend des techniques de manipulation à haute vélocité qui permettent de rétablir une mobilité articulaire optimale et ainsi équilibrer les tensions biomécaniques dans le corps entier pour favoriser la guérison. En effet, l'ostéo-étiopathie considère le corps comme un système interconnecté, où chaque partie influence les autres.
    </p>
  </div>
</div>


<%# CONTAINER "NOTRE EQUIPE" %>

<div class="equipe">
  <h1>Notre équipe</h1>
  <div class="membre">
    <div class="profile-pic-membre">
      <%= image_tag image_url("default_profile_pic.jpeg") , class: "avatar-equipe"%>
    </div>
    <div class="membre-content">
      <div class="membre-content-titre">
        <h3>Cedric Arend, Kinésithérapeute & ostéo-éthiopathe D.Oe.</h3>
      </div>
      <div class="membre-content-description">
        <p>
          "Je suis praticien en kinésithérapie et ostéo-étiopathie. Je suis également certifié à la rééducation des articulations temporo-mandibulaires, qui affectent la mâchoire. Mon champ de compétence englobe divers domaines, notamment les sports collectifs, la rééducation sportive, ainsi que les maux de dos de manière générale.
          Mon parcours sportif a débuté dans le monde du football, où j'ai évolué jusqu’au niveau professionnel (KAS Eupen). Par la suite, j'ai fait une transition majeure vers les sports de combat et le yoga. Cette diversité d'expériences m’a permis d'acquérir une compréhension approfondie du fonctionnement du corps humain, ainsi qu’une expertise dans la gestion de douleurs, de blessures et la rééducation.
          Je m'engage à offrir des soins de haute qualité et personnalisés à mes patients, en utilisant mes connaissances approfondies et mes compétences variées pour les aider à atteindre leurs objectifs de santé, de mobilité et de bien-être."
        </p>
      </div>
    </div>
  </div>
</div>


<%# CONTAINER "CONTACT" %>

<div class="div-contact">
  <h1>Comment nous contacter:</h1>
  <div class="div-contact-content">
    <div class="infos-contact">
      <h2>Nos coordonnées</h2>
      <p><i class="fa-solid fa-clock"></i> 9h - 18h (Lundi - Vendredi)</p>
      <p><i class="fa-solid fa-location-dot"></i>Rue de l'exemple 54, B-6789 Namur</p>
      <p><i class="fa-solid fa-phone"> +32 81 00 00 00</i></p>
      <p><i class="fa-solid fa-paper-plane"></i> info@physiosteos.com</p>
    </div>
    <div class="map-contact">
      <%= image_tag image_url("map.png"), style: "width: 300px;" %>
    </div>
  </div>
</div>


<%# JAVASCRIPT %>

<%# SCROLL DOWN BUTTON %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#scroll-button").on("click", function() {
      // Scroll to the target section with a smooth animation
      $("html, body").animate(
        {
          scrollTop: $("#target-services-btn").offset().top
        },
        100 // Adjust the duration of the animation as needed
      );
    });
  });
</script>

<%# NAVBAR  %>
<script>
const navbar = document.querySelector('.navbar-lewagon');
let prevScrollPos = window.pageYOffset;
let isScrollingUp = false;

window.addEventListener('scroll', () => {
    const currentScrollPos = window.pageYOffset;

    if (prevScrollPos > currentScrollPos) {
        // Scrolling up, show the navbar and add the 'opaque' class
        navbar.style.top = '0';
        if (!isScrollingUp) {
            navbar.classList.add('opaque');
            isScrollingUp = true;
        }
    } else {
        // Scrolling down, hide the navbar and remove the 'opaque' class
        navbar.style.top = '-100px'; // You can adjust the value as needed
        isScrollingUp = false;
        navbar.classList.remove('opaque');
    }

    prevScrollPos = currentScrollPos;
});

</script>
