<%# CONTAINER "BANNER-VIDEO" %>

<div class="banner-video" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://7dmc.ae/wp-content/uploads/2021/07/Chiropractic-Adjustment.jpg);">
  <div class="banner-content">
    <%= image_tag image_url("white_hr_logo_no_bg.png") %>
    <p><strong>Réservez votre consultation dès maintenant !</strong></p>
    <%= link_to "Vers nos services!", "#", class: "btn-flat", style: "text-decoration: none;", id: "scroll-button" %>
    <%# <button id="scroll-button", class="btn-flat", style="border: none">Vers nos services!</button> %>
  </div>
</div>


<%# CONTAINER "NOS SERVICES" %>

<%# <div class="cards-nos-services", id="target-services-btn">
  <h1>Nos services</h1>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
      Kinésithérapie
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
      Ostéopathie
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
      Thérapie manuelle
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
      Kinésithérapie périnéale
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://chantalfievez.be/wp-content/uploads/2020/02/kine-cancer-oncologie-traitement.jpg)">
      Sexologie
    </div>
  </div>
</div> %>

<div class="nos-services", id="target-services-btn">
  <div class="kine">
  </div>
  <div class="osteo">
  </div>
</div>

<%# CONTAINER "NOS SERVICES" %>

<div class="div-contact">
  <h1>Comment nous contacter:</h1>
  <div class="div-contact-content">
    <div class="infos-contact">
      <h2>Nos coordonnées</h2>
      <p><i class="fa-solid fa-clock"></i> 9h - 18h (Lundi - Vendredi)</p>
      <p><i class="fa-solid fa-location-dot"></i>Rue de l'exemple 54, B-6789 Namur</p>
      <p><i class="fa-solid fa-phone"> +32 81 00 00 00</i></p>
      <p><i class="fa-solid fa-paper-plane"></i> info@physiosteos.com</p>
    </div>
    <div class="map-contact">
      <%= image_tag image_url("map.png"), style: "width: 300px;" %>
    </div>
  </div>
</div>


<%# JAVASCRIPT %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#scroll-button").on("click", function() {
      // Scroll to the target section with a smooth animation
      $("html, body").animate(
        {
          scrollTop: $("#target-services-btn").offset().top
        },
        100 // Adjust the duration of the animation as needed
      );
    });
  });
</script>
