<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Only Read More Button</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <p class="original">
        Lorem ipsum
      </p>
      <span class="dots">...</span>
      <p class="extra">
        Accusamus repre
      </p>
      <input type="checkbox" id="btn" />
      <label for="btn"></label>
    </div>
  </body>
</html>
