<div class="profile-card-box">
  <div class="contact-card">
    <div class="profile-card">
      <%= image_tag image_url("pascal_profile.jpg"), class: "popup-avatar" %>
      <div class="popup-title-container">
        <h1>Pascal Vigneron</h1>
        <h2>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h2>
      </div>
    </div>
    <div class="popup-bio">
      <p>
        « Ma philosophie de travail repose sur une approche holistique qui considère l'individu dans sa totalité, en intégrant le corps et l'esprit. De nombreux problèmes physiques trouvent leur origine dans des blocages énergétiques, et que notre bien-être dépend de multiples facteurs internes et externes. Grâce à des outils puissants acquis en étudiant la kinésithérapie, l’ostéo-étiopathie, la médecine chinoise, ainsi que grâce à ma pratique des arts martiaux et du Qi Gong, j'accompagne mes patients en personnalisant leurs traitements pour les aider à atteindre leurs objectifs de santé. Mon expérience internationale en tant que champion du monde en arts martiaux me permet également d'aider les sportifs de haut niveau, ainsi que de traiter une variété de pathologies, qu'elles soient légères ou plus complexes. Mon objectif ultime est d'accompagner chaque patient jusqu'à la ligne d'arrivée de leur parcours de guérison. »
      </p>
    </div>
    <div class="popup-contact">
      <div class="popup-phone">
        <p><i class="fa-solid fa-phone"></i> +32 484 14 49 11</p>
      </div>
      <div class="popup-email">
        <p><i class="fa-solid fa-envelope"></i></i> pascalvigneron@physiosteos.com</p>
      </div>
    </div>
    <div class="popup-address">
      <p><i class="fa-solid fa-map-location-dot"></i> Avenue des Aduatiques 35, B-5000 Namur </p>
    </div>
  </div>
</div>
