<div class="profile-card-box">
  <div class="contact-card">
    <div class="profile-card">
      <%= image_tag image_url("rinor_profile.jpg"), class: "popup-avatar" %>
      <div class="popup-title-container">
        <h1>Rinor Aziri</h1>
        <h2>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h2>
      </div>
    </div>
    <div class="popup-bio">
      <p>
        « Le sport a toujours occupé une place prépondérante dans mon existence, constituant l'un des principaux facteurs qui ont orienté mon choix vers la poursuite de mes études en kinésithérapie. L'union entre mon vécu personnel en matière sportive et la transmission de cette expérience aux patients représente pour moi une véritable passion. Lorsque je m'engage dans le processus de traitement, un principe fondamental guide ma démarche : l'évolution. Mon objectif au cours des séances thérapeutiques est d'observer une progression tangible en accord avec les attentes du patient. »
      </p>
    </div>
    <div class="popup-contact">
      <div class="popup-phone">
        <p><i class="fa-solid fa-phone"></i> +32 489 36 96 68</p>
      </div>
      <div class="popup-email">
        <p><i class="fa-solid fa-envelope"></i></i> rinoraziri@physiosteos.com</p>
      </div>
    </div>
    <div class="popup-address">
      <p><i class="fa-solid fa-map-location-dot"></i> Chaussée de Liège 322 b, 5100 Jambes</p>
    </div>
  </div>
</div>
