.btn-flat {
  color: $mint-cream;
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  font-size: 20px;
  transition: 0.3s ease;
}

.btn-flat:hover {
  background: $turquoise-hover;
  color: $mint-cream;
}
