.div-contact h1 {
  color: $mint-cream;
  font-weight: 400;
  font-size: 52px;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 150px;
  top: 20px;
  position: relative;
}

.div-contact {
  min-height: 100vh;
}

.div-contact-content {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.div-contact img {
  border-radius: 15px;
  box-shadow: 0px 3px 40px #32578C88;
  height: 409px;
  width: 656px;
  object-fit:cover;
}

.infos-contact p i {
  margin-right: 10px; /* Adjust the margin as needed */
}

.infos-contact h1 {
  text-decoration: underline;
  font-style: italic;
}

.infos-contact {
  padding: 30px;
  padding-top: 100px;
  font-size: 18px;
  color: $mint-cream;
}
