.equipe {
  height: 100vh;
}

.equipe h1 {
  color: $dark-blue;
  font-weight: 100;
  font-size: 52px;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 100px;
  top: 20px;
  position: relative;
}

.membre {
  display: flex;
  border: 2px solid #000000;
  margin: 30px;
}

.membre-content-description {
  font-size: 13px;
  font-style: italic;
}

.membre-content-titre {
  font-size: 22px;

}

.avatar-equipe {
  width: 180px;
  border-radius: 50%;
}
