html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-wrapper {
  background: #F4F4F4;
  height: 60px; /* Set the desired height for your footer */
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

/* Your existing footer styles */
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: $dark-blue;
}

.footer-wrapper .fa-heart {
  color: #D23333;
}
