.navbar-lewagon {
  position: fixed; /* Stick the navbar to the top of the page */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background: transparent; /* Set the background to transparent */
  z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
