.navbar-lewagon {
  position: fixed; /* Stick the navbar to the top of the page */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: $navbar-color; /* Set the background to transparent */
  z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar-lewagon {
  /* Existing CSS properties */
  transition: top 0.5s ease; /* Adjust the duration and timing function as needed */
}

.navbar-lewagon.opaque {
  background-color: $navbar-color; /* Replace 'your-background-color' with the desired background color */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
