.nos-services {
  // background: transparent linear-gradient(198deg, #54BAB9 0%, #2E4986 100%) 0% 0% no-repeat padding-box;
}

.nos-services h1 {
 color: $mint-cream;
 text-align: center;
 padding-top: 100px;

}

.nos-services-content {
  display: flex;
  height: 85vh; /* Take the full viewport height */
  flex-direction: row; /* Split into two columns */
}

.kine,
.osteo {
  flex: 1; /* Make both columns equally sized */
  margin: 85px; /* Add some padding for spacing */
  margin-top: 35px;
  padding: 50px;
  overflow: auto; /* Add scrollbars if content overflows */
  display: flex; /* Use flexbox for column content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content vertically */
  color: $mint-cream;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 40px #0000003C;
  border-radius: 25px;
  opacity: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.kine {
  margin-right: 20px;
}

.osteo {
  margin-left: 20px;
}

.kine h1,
.osteo h1 {
  align-items: center;
  font-family: $headers-font;
  color: $mint-cream;
  padding-top: 0px;
  padding-bottom: 15px;
}

.kine p,
.osteo p {
  text-align: justify;
}

.kine-osteo-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.kine-osteo-content a {
  text-align: center;
}
